<%# app/views/admin/senders/_form.html.erb %>
<%= form_with model: [:admin, @sender], local: true, class: 'space-y-6' do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'input input-bordered w-full', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, class: 'input input-bordered w-full' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: 'form-label' %>
    <%= f.telephone_field :phone, class: 'input input-bordered w-full', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :address, class: 'form-label' %>
    <%= f.text_area :address, class: 'input input-bordered w-full', required: true, rows: 2 %>
  </div>
  <div class="form-group">
    <%= f.label :sender_type, class: 'form-label' %>
    <%= f.select :sender_type, Sender.sender_types.map { |k, v| [k.titleize, k] }, {}, class: 'input input-bordered w-full', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :company_name, class: 'form-label' %>
    <%= f.text_field :company_name, class: 'input input-bordered w-full' %>
  </div>
  <div class="form-group">
    <%= f.label :tax_id, class: 'form-label' %>
    <%= f.text_field :tax_id, class: 'input input-bordered w-full' %>
  </div>
  <div class="form-group">
    <%= f.label :business_registration, class: 'form-label' %>
    <%= f.text_field :business_registration, class: 'input input-bordered w-full' %>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: 'form-label' %>
    <%= f.text_area :notes, class: 'input input-bordered w-full', rows: 2 %>
  </div>
  <div class="flex gap-2">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_senders_path, class: 'btn btn-outline' %>
  </div>
<% end %>
