<h1>New Carrier</h1>

<%= form_with(model: @carrier, local: true) do |form| %>
  <% if @carrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrier.errors.count, "error") %> prohibited this carrier from being saved:</h2>
      <ul>
        <% @carrier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :carrier_type, 'Carrier type' %>
    <%= form.select :carrier_type, ['PostalCarrier', 'CourierCarrier'], { prompt: 'Select carrier type' } %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="actions">
    <%= form.submit "Create Carrier" %>
  </div>
<% end %>

<%= link_to 'Back', carriers_path %>