<div data-controller="dashboard-editor" data-dashboard-editor-save-url-value="<%= admin_dashboard_layout_path %>">
  <% card_class = "rounded-2xl border border-white/10 bg-white/5 shadow-xl shadow-black/30 backdrop-blur" %>
  <!-- Header moved to topbar -->

  <%= turbo_stream_from "dashboard" %>

  <div class="space-y-6">
    <%= render "header" %>
    <%= render "filters" %>

  <div class="grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5"
       data-dashboard-editor-target="container">
    <% layout = JSON.parse(File.read(Rails.root.join('config','dashboard_layout.json'))) rescue [] %>
    <% layout.each do |w| %>
      <% id = w["id"]; span = w["span"] %>
      <% if id == "kpis" %>
        <div data-widget-id="kpis" data-span="<%= span || 'col-span-12' %>" class="<%= span || 'col-span-12' %>">
          <%= render "kpis" %>
        </div>
      <% elsif id == "chart" %>
        <%= render "chart_widget",
              span: span,
              card_class: card_class,
              series_a: @chart_series_a_by_period,
              series_b: @chart_series_b_by_period,
              labels: @chart_labels_by_period,
              currency_code: @currency_code %>
      <% elsif id == "target" %>
        <%= render "target_widget",
              span: span,
              card_class: card_class,
              target_percent: @target_percent,
              target_delta_percent: @target_delta_percent,
              monthly_target_cents: @monthly_target_cents,
              month_revenue_cents: @month_revenue_cents,
              today_revenue_cents: @today_revenue_cents,
              currency_code: @currency_code %>
      <% elsif id == "recent_payments" %>
        <%= render "recent_payments_widget",
              span: span,
              card_class: card_class,
              recent_payments: @recent_payments %>
      <% elsif id == "recent_tasks" %>
        <%= render "recent_tasks_widget",
              span: span,
              card_class: card_class,
              recent_tasks: @recent_tasks %>
      <% elsif id == "deliveries" %>
        <% if %w[admin manager operational].include?(@dashboard_view) %>
          <div data-widget-id="deliveries" data-span="<%= span || 'col-span-12' %>" class="<%= span || 'col-span-12' %>">
            <%= render "deliveries_widget", card_class: card_class, delivery_samples: @delivery_samples %>
          </div>
        <% end %>
      <% elsif id == "payouts" %>
        <% if @dashboard_view == "carrier" %>
          <div data-widget-id="payouts" data-span="<%= span || 'col-span-12' %>" class="<%= span || 'col-span-12' %>">
            <%= render "payouts_widget", card_class: card_class, recent_payouts: @recent_payouts, currency_code: @currency_code %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
