<% content_for :page_title, "Task ##{@task.id}" %>

<div class="p-4 space-y-4">
  <div class="breadcrumbs text-sm">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if @task.customer %>
        <li><%= link_to "Customers", customers_path %></li>
        <li><%= link_to @task.customer.name, customer_path(@task.customer) %></li>
      <% end %>
      <li><%= link_to "Tasks", (@task.customer ? customer_tasks_path(@task.customer) : tasks_path) %></li>
      <li>#<%= @task.id %></li>
    </ul>
  </div>

  <div class="card bg-base-100 shadow">
    <div class="card-body p-4 space-y-2">
  <h2 class="card-title">Task #<%= @task.id %></h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <div class="text-sm opacity-70">Status</div>
          <div><%= render "shared/status_badge", status: @task.status %></div>
        </div>
        <div>
          <div class="text-sm opacity-70">Customer</div>
          <div><%= @task.customer&.name || "-" %></div>
        </div>
        <div>
          <div class="text-sm opacity-70">Carrier</div>
          <div><%= @task.carrier_id %></div>
        </div>
        <div>
          <div class="text-sm opacity-70">Created</div>
          <div><%= l(@task.created_at, format: :long) %></div>
        </div>
        <div class="sm:col-span-2">
          <div class="text-sm opacity-70">Barcode</div>
          <div><%= @task.barcode %></div>
        </div>
      </div>
    </div>
  </div>
</div>
