<% content_for :page_title, (@task.barcode.present? ? "Task #{@task.barcode}" : "Task ##{@task.id}") %>

<div class="space-y-6">
  <div>
    <%= render "breadcrumb", task: @task %>
  </div>

  <%= render "details_card", task: @task %>

  <% if @task.legal_files.attached? %>
    <%= render "legal_documents_list", task: @task %>
  <% end %>

  <% if @task.draft? %>
    <%= render "draft_payment_section", task: @task, checkout_payment: @checkout_payment, payment_details: @payment_details %>
  <% else %>
    <%= render "published_notice" %>
  <% end %>

  <% if policy(Delivery).create? %>
    <%= render "delivery_cta" %>
  <% end %>
</div>
