<aside id="sidebar" class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-white border-r border-stroke duration-300 ease-linear lg:static lg:translate-x-0 -translate-x-full">
  <!-- SIDEBAR HEADER -->
  <div class="flex items-center justify-between gap-2 px-6 py-5.5 lg:py-6.5">
  <span class="block text-2xl font-bold text-dark">Fast Epost</span>
  </div>
  <!-- SIDEBAR HEADER -->

  <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
    <!-- Sidebar Menu -->
    <nav class="mt-5 py-4 px-4 lg:mt-9 lg:px-6">
      <div>
        <ul class="mb-6 flex flex-col gap-1.5">
          <li>
            <%= link_to root_path, class: "group relative flex items-center gap-2.5 rounded-md py-2 px-4 font-medium text-body duration-300 ease-in-out hover:bg-whiter #{'bg-whiter text-primary' if current_page?(root_path)}" do %>
              <span class="material-icons text-lg #{'text-primary' if current_page?(root_path)}">space_dashboard</span>
              Dashboard
            <% end %>
          </li>
          <li>
            <%= link_to payments_path, class: "group relative flex items-center gap-2.5 rounded-md py-2 px-4 font-medium text-body duration-300 ease-in-out hover:bg-whiter #{'bg-whiter text-primary' if current_page?(payments_path)}" do %>
              <span class="material-icons text-lg #{'text-primary' if current_page?(payments_path)}">payment</span>
              Payments
            <% end %>
          </li>
          <li>
            <%= link_to customers_path, class: "group relative flex items-center gap-2.5 rounded-md py-2 px-4 font-medium text-body duration-300 ease-in-out hover:bg-whiter #{'bg-whiter text-primary' if current_page?(customers_path)}" do %>
              <span class="material-icons text-lg #{'text-primary' if current_page?(customers_path)}">people</span>
              Customers
            <% end %>
          </li>
          <li>
            <%= link_to tasks_path, class: "group relative flex items-center gap-2.5 rounded-md py-2 px-4 font-medium text-body duration-300 ease-in-out hover:bg-whiter #{'bg-whiter text-primary' if current_page?(tasks_path)}" do %>
              <span class="material-icons text-lg #{'text-primary' if current_page?(tasks_path)}">task</span>
              Tasks
            <% end %>
          </li>
          <li>
            <%= link_to carriers_path, class: "group relative flex items-center gap-2.5 rounded-md py-2 px-4 font-medium text-body duration-300 ease-in-out hover:bg-whiter #{'bg-whiter text-primary' if current_page?(carriers_path)}" do %>
              <span class="material-icons text-lg #{'text-primary' if current_page?(carriers_path)}">local_shipping</span>
              Carriers
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Sidebar Menu -->
  </div>
</aside>
